* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 238, 0);
  font-family: sans-serif;
}

.clock {
  font-size: 20rem;
  text-align: center;
  margin-top: 10rem;
}

button {
  font-size: 3rem;
  cursor: pointer;
  width: 15rem;
  height: 5rem;
  border-radius: 1em;
  border: none;
  background-color: sandybrown;
  transition: 0.5s;
  margin: 1em;
}

button:hover {
  background-color: rgb(131, 71, 19);
}

.control_btn {
  text-align: center;
}

@media (max-width: 1000px) {
  html {
    font-size: 75%;
  }

  .clock {
    font-size: 12rem;
    margin-top: 15rem;
  }

  button {
    margin: 0.5em;
    font-size: 4rem;
    width: 17rem;
    height: 6rem;
  }
}
@media (max-width: 570px) {
  html {
    font-size: 75%;
  }
  .clock {
    font-size: 8rem;
  }

  button {
    margin: 0.5em;
    font-size: 4rem;
    width: 17rem;
    height: 6rem;
  }
}
